/*#user-layout .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
}*/

#user-layout .logo {
    float: left;
    height: 44px;
    margin: 10px 24px 10px 0;
}

.site-layout .site-layout-background {
    background: #fff;
}
